In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import json
import glob

from shapely.geometry import Point
from shapely.geometry import box
from shapely.geometry import mapping
from shapely.ops import unary_union, polygonize
from shapely.geometry import MultiPolygon

from joblib import Parallel, delayed
from tqdm import tqdm

# # input my libraries
# from tidyzoning import find_district_idx
# from tidyzoning import find_bldg_type
# from tidyzoning import check_land_use
# from tidyzoning import get_zoning_req
# from tidyzoning import check_fl_area
# from tidyzoning import check_far
# from tidyzoning import check_height
# from tidyzoning import check_stories
# from tidyzoning import check_bedrooms
# from tidyzoning import check_lot_coverage
# from tidyzoning import check_unit_density
# from tidyzoning import check_unit_qty
# from tidyzoning import add_setbacks
# from tidyzoning import get_buildable_area
# from tidyzoning import zoning_analysis_pipeline
# from tidyzoning import unify_tidybuilding
# from tidyzoning import filter_constraints
# from tidyzoning import check_zoning_process
# from tidyzoning import parcels_in_zoning
# from tidyzoning import parcel_in_confidence
# from tidyzoning import parcel_in_nonconfidence
# from tidyzoning import generate_parcel_info
# from tidyzoning import check_height_eave

# from tidyzoning.check_footprint import check_footprint
# from tidyzoning.check_unit_size import check_unit_size
# from tidyzoning.process_all_districts import process_all_districts

# from tidyzoning import compare_id_differences

In [3]:
use_dataset = pd.read_csv(r'/Users/houpuli/Redlining Lab Dropbox/HOUPU LI/ceshi/tidyparcel_attribute.csv')
use_dataset

,parcel_id,landuse,landuse_spec,confidence,parcel status,parcel_label
0,Collin_County_combined_parcel_1,R,A1,True,occupied_parcel,regular inside parcel
1,Collin_County_combined_parcel_10,R,A1,True,occupied_parcel,regular inside parcel
2,Collin_County_combined_parcel_1000,R,A1,True,occupied_parcel,regular inside parcel
3,Collin_County_combined_parcel_10000,R,A1,True,occupied_parcel,regular inside parcel
4,Collin_County_combined_parcel_100000,R,A1,True,occupied_parcel,regular inside parcel
...,...,...,...,...,...,...
1953246,Wise_County_combined_parcel_995,NaN,NaN,False,occupied_parcel,cul_de_sac parcel_other
1953247,Wise_County_combined_parcel_996,NaN,NaN,False,occupied_parcel,cul_de_sac parcel_other
1953248,Wise_County_combined_parcel_997,NaN,NaN,False,occupied_parcel,cul_de_sac parcel_other
1953249,Wise_County_combined_parcel_998,NaN,NaN,False,occupied_parcel,cul_de_sac parcel_other
1953250,Wise_County_combined_parcel_999,NaN,NaN,False,occupied_parcel,cul_de_sac parcel_other

In [7]:
vacant_parcel = use_dataset[use_dataset['parcel status'] == 'vacant_parcel']
vacant_parcel

,parcel_id,landuse,landuse_spec,confidence,parcel status,parcel_label
27,Collin_County_combined_parcel_100027,R,A4,True,vacant_parcel,regular inside parcel
34,Collin_County_combined_parcel_100035,NaN,C1,False,vacant_parcel,no_address_parcel_other
41,Collin_County_combined_parcel_100041,NaN,M4,False,vacant_parcel,duplicated address
48,Collin_County_combined_parcel_100050,R,A4,True,vacant_parcel,regular inside parcel
50,Collin_County_combined_parcel_100053,NaN,M4,True,vacant_parcel,no_address_parcel_standard
...,...,...,...,...,...,...
1953154,Wise_County_combined_parcel_9382,NaN,NaN,True,vacant_parcel,regular corner parcel
1953156,Wise_County_combined_parcel_9384,NaN,NaN,True,vacant_parcel,regular corner parcel
1953180,Wise_County_combined_parcel_9512,NaN,NaN,False,vacant_parcel,no_match_address_other
1953185,Wise_County_combined_parcel_9556,NaN,NaN,False,vacant_parcel,duplicated address
1953200,Wise_County_combined_parcel_9600,NaN,NaN,True,vacant_parcel,regular corner parcel

In [8]:
ceshi = gpd.read_file(r'/Users/houpuli/Redlining Lab Dropbox/HOUPU LI/ceshi/tidyparcel_feeds/Addison.parcel')
ceshi

,parcel_id,side,lot_width,lot_depth,lot_area,geometry
0,Dallas_County_combined_parcel_101985,unknown,NaN,NaN,NaN,"LINESTRING (-96.85492 32.93352, -96.85487 32.9..."
1,Dallas_County_combined_parcel_101985,unknown,NaN,NaN,NaN,"LINESTRING (-96.85491 32.93343, -96.85492 32.9..."
2,Dallas_County_combined_parcel_101985,unknown,NaN,NaN,NaN,"LINESTRING (-96.85270 32.93341, -96.85271 32.9..."
3,Dallas_County_combined_parcel_101985,unknown,NaN,NaN,NaN,"LINESTRING (-96.85271 32.93426, -96.85270 32.9..."
4,Dallas_County_combined_parcel_101985,unknown,NaN,NaN,NaN,"LINESTRING (-96.85306 32.93452, -96.85271 32.9..."
...,...,...,...,...,...,...
16448,Dallas_County_combined_parcel_81827,exterior side,NaN,NaN,NaN,"LINESTRING (-96.85515 32.94008, -96.85564 32.9..."
16449,Dallas_County_combined_parcel_81827,front,NaN,NaN,NaN,"LINESTRING (-96.85564 32.94008, -96.85563 32.9..."
16450,Dallas_County_combined_parcel_81827,interior side,NaN,NaN,NaN,"LINESTRING (-96.85563 32.94049, -96.85514 32.9..."
16451,Dallas_County_combined_parcel_81827,rear,NaN,NaN,NaN,"LINESTRING (-96.85514 32.94049, -96.85515 32.9..."
16452,Dallas_County_combined_parcel_81827,centroid,149.901877,149.769582,0.513268,POINT (-96.85539 32.94029)

In [21]:
import os
import geopandas as gpd
import pandas as pd

vacant_ids = set(vacant_parcel['parcel_id'])

# 2. 设置输入输出路径
input_folder = "/Users/houpuli/Redlining Lab Dropbox/HOUPU LI/ceshi/tidyparcel_feeds"
output_folder = "/Users/houpuli/Redlining Lab Dropbox/HOUPU LI/ceshi/vacant_parcel_output"
os.makedirs(output_folder, exist_ok=True)

# 3. 遍历所有包含 "parcel" 的文件
for filename in os.listdir(input_folder):
    if "parcel" in filename:
        input_path = os.path.join(input_folder, filename)

        try:
            # 读取文件
            gdf = gpd.read_file(input_path)

            # 筛选出 parcel_id 存在于 vacant_parcel 的记录
            filtered = gdf[gdf['parcel_id'].isin(vacant_ids)]

            # 如果有匹配结果就导出
            if not filtered.empty:
                # 构建新文件名：替换原扩展名为 .vacant_parcel
                base_name, ext = os.path.splitext(filename)
                output_filename = base_name + "_vacant" + ext
                output_path = os.path.join(output_folder, output_filename)

                filtered.to_file(output_path, driver="GeoJSON")
                print(f"✅ 已保存: {output_filename} ({len(filtered)} 条记录)")
            else:
                print(f"⚠️ 无匹配记录: {filename}")

        except Exception as e:
            print(f"❌ 错误文件: {filename}，原因: {e}")

✅ 已保存: White Settlement_vacant.parcel (4366 条记录)
✅ 已保存: Boyd_vacant.parcel (1072 条记录)
✅ 已保存: Maypearl_vacant.parcel (412 条记录)
✅ 已保存: Alvord_vacant.parcel (1055 条记录)
✅ 已保存: Northlake_vacant.parcel (10095 条记录)
✅ 已保存: Decatur_vacant.parcel (2690 条记录)
✅ 已保存: Mabank_vacant.parcel (6398 条记录)
✅ 已保存: Lakewood Village_vacant.parcel (518 条记录)
✅ 已保存: Dallas_vacant.parcel (260319 条记录)
✅ 已保存: Caddo Mills_vacant.parcel (3349 条记录)
✅ 已保存: DISH_vacant.parcel (650 条记录)
✅ 已保存: McKinney_vacant.parcel (63029 条记录)
✅ 已保存: Frisco_vacant.parcel (58016 条记录)
✅ 已保存: Colleyville_vacant.parcel (8373 条记录)
✅ 已保存: Burleson_vacant.parcel (10995 条记录)
✅ 已保存: Prosper_vacant.parcel (9041 条记录)
✅ 已保存: Granbury_vacant.parcel (14223 条记录)
✅ 已保存: Paradise_vacant.parcel (705 条记录)
✅ 已保存: Melissa_vacant.parcel (13386 条记录)
✅ 已保存: Westlake_vacant.parcel (3735 条记录)
✅ 已保存: Forney_vacant.parcel (2481 条记录)
✅ 已保存: Oak Leaf_vacant.parcel (631 条记录)
✅ 已保存: Aurora_vacant.parcel (790 条记录)
✅ 已保存: Roanoke_vacant.parcel (2010 条记录)
✅ 已保存: Fate_vacant.parcel (10566 条记录)
✅ 已保存: Cockrell Hill_vacant.parcel (550 条记录)
✅ 已保存: Shady Shores_vacant.parcel (2874 条记录)
✅ 已保存: LakeWorth_vacant.parcel (2429 条记录)
✅ 已保存: Copper Canyon_vacant.parcel (1546 条记录)
✅ 已保存: Krum_vacant.parcel (3324 条记录)
✅ 已保存: Aubrey_vacant.parcel (4581 条记录)
✅ 已保存: Bartonville_vacant.parcel (1438 条记录)
✅ 已保存: Rowlett_vacant.parcel (3504 条记录)
✅ 已保存: Corinth_vacant.parcel (2026 条记录)
✅ 已保存: Saint Paul_vacant.parcel (398 条记录)
✅ 已保存: NorthRichland Hills_vacant.parcel (14077 条记录)
✅ 已保存: Dalworthington Gardens_vacant.parcel (1073 条记录)
✅ 已保存: Corsicana_vacant.parcel (18908 条记录)
✅ 已保存: Briaroaks_vacant.parcel (148 条记录)
✅ 已保存: Denton_vacant.parcel (62635 条记录)
✅ 已保存: DeSoto_vacant.parcel (4809 条记录)
✅ 已保存: Ovilla_vacant.parcel (1775 条记录)
✅ 已保存: Pilot Point_vacant.parcel (5389 条记录)
✅ 已保存: Chico_vacant.parcel (538 条记录)
✅ 已保存: Wylie_vacant.parcel (14062 条记录)
✅ 已保存: Aledo_vacant.parcel (5322 条记录)
✅ 已保存: Sachse_vacant.parcel (5898 条记录)
✅ 已保存: Hickory Creek_vacant.parcel (2915 条记录)
✅ 已保存: Blue Mound_vacant.parcel (147 条记录)
✅ 已保存: Fort Worth_vacant.parcel (219528 条记录)
✅ 已保存: Midlothian_vacant.parcel (25490 条记录)
✅ 已保存: Annetta North_vacant.parcel (907 条记录)
✅ 已保存: Allen_vacant.parcel (18267 条记录)
✅ 已保存: Pecan Hill_vacant.parcel (127 条记录)
✅ 已保存: Hutchins_vacant.parcel (3413 条记录)
✅ 已保存: Pantego_vacant.parcel (989 条记录)
✅ 已保存: Haslet_vacant.parcel (4047 条记录)
✅ 已保存: Celina_vacant.parcel (3153 条记录)
✅ 已保存: Ponder_vacant.parcel (1278 条记录)
✅ 已保存: Wilmer_vacant.parcel (2190 条记录)
✅ 已保存: Cedar Hill_vacant.parcel (15834 条记录)
✅ 已保存: Westover Hills_vacant.parcel (144 条记录)
✅ 已保存: Kaufman_vacant.parcel (4574 条记录)
✅ 已保存: Anna_vacant.parcel (19888 条记录)
✅ 已保存: Carrollton_vacant.parcel (18961 条记录)
✅ 已保存: Balch Springs_vacant.parcel (6377 条记录)
✅ 已保存: Reno_vacant.parcel (2850 条记录)
✅ 已保存: Hico_vacant.parcel (1808 条记录)
✅ 已保存: Sanger_vacant.parcel (5072 条记录)
✅ 已保存: Duncanville_vacant.parcel (5164 条记录)
❌ 错误文件: Dublin.parcel，原因: 'parcel_id'
✅ 已保存: Addison_vacant.parcel (3888 条记录)
✅ 已保存: Greenville_vacant.parcel (19917 条记录)
✅ 已保存: Bridgeport_vacant.parcel (2469 条记录)
✅ 已保存: Ferris_vacant.parcel (3030 条记录)
✅ 已保存: Highland Park_vacant.parcel (914 条记录)
✅ 已保存: Bedford_vacant.parcel (7712 条记录)
✅ 已保存: Lakeside_vacant.parcel (824 条记录)
✅ 已保存: Azle_vacant.parcel (9224 条记录)
✅ 已保存: Justin_vacant.parcel (6907 条记录)
✅ 已保存: Hudson Oaks_vacant.parcel (2267 条记录)
✅ 已保存: Irving_vacant.parcel (40324 条记录)
❌ 错误文件: Stephenville.parcel，原因: 'parcel_id'
✅ 已保存: Double Oak_vacant.parcel (342 条记录)
✅ 已保存: Cleburne_vacant.parcel (17933 条记录)
✅ 已保存: Plano_vacant.parcel (38120 条记录)
✅ 已保存: Kennedale_vacant.parcel (3571 条记录)
✅ 已保存: Keene_vacant.parcel (2286 条记录)
✅ 已保存: Providence Village_vacant.parcel (12209 条记录)
✅ 已保存: Commerce_vacant.parcel (4848 条记录)
✅ 已保存: Farmersville_vacant.parcel (1967 条记录)
✅ 已保存: Princeton_vacant.parcel (20866 条记录)
✅ 已保存: Lancaster_vacant.parcel (13192 条记录)
✅ 已保存: Blooming Grove_vacant.parcel (879 条记录)
✅ 已保存: Highland Village_vacant.parcel (877 条记录)
✅ 已保存: Pelican Bay_vacant.parcel (2587 条记录)
✅ 已保存: Weatherford_vacant.parcel (19527 条记录)
✅ 已保存: University Park_vacant.parcel (2051 条记录)
✅ 已保存: Keller_vacant.parcel (8440 条记录)
✅ 已保存: Arlington_vacant.parcel (63145 条记录)
✅ 已保存: LakeDallas_vacant.parcel (3564 条记录)
✅ 已保存: Van Alstyne_vacant.parcel (6216 条记录)
✅ 已保存: Kemp_vacant.parcel (1910 条记录)
✅ 已保存: Farmers Branch_vacant.parcel (7884 条记录)
✅ 已保存: Heath_vacant.parcel (5884 条记录)
✅ 已保存: Coppell_vacant.parcel (6969 条记录)
✅ 已保存: Garland_vacant.parcel (11465 条记录)
✅ 已保存: Grapevine_vacant.parcel (7655 条记录)
✅ 已保存: Willow Park_vacant.parcel (4034 条记录)
✅ 已保存: Garrett_vacant.parcel (262 条记录)
✅ 已保存: Alvarado_vacant.parcel (4392 条记录)
✅ 已保存: Rhome_vacant.parcel (408 条记录)
✅ 已保存: Cresson_vacant.parcel (3010 条记录)
✅ 已保存: Grandview_vacant.parcel (1577 条记录)
✅ 已保存: Sansom Park_vacant.parcel (782 条记录)
✅ 已保存: GlennHeights_vacant.parcel (4619 条记录)
✅ 已保存: Flower Mound_vacant.parcel (20115 条记录)
✅ 已保存: Little Elm_vacant.parcel (22525 条记录)
✅ 已保存: Westworth Village_vacant.parcel (978 条记录)
✅ 已保存: Springtown_vacant.parcel (2468 条记录)
✅ 已保存: Royse City_vacant.parcel (12310 条记录)
✅ 已保存: Crowley_vacant.parcel (10444 条记录)
✅ 已保存: Italy_vacant.parcel (1372 条记录)
✅ 已保存: Josephine_vacant.parcel (1945 条记录)
✅ 已保存: Edgecliff Village_vacant.parcel (454 条记录)
✅ 已保存: Haltom City_vacant.parcel (9929 条记录)
✅ 已保存: Blue Ridge_vacant.parcel (872 条记录)
✅ 已保存: Alma_vacant.parcel (642 条记录)
✅ 已保存: Terrell_vacant.parcel (14823 条记录)
✅ 已保存: Southlake_vacant.parcel (8529 条记录)
✅ 已保存: Grand Prairie_vacant.parcel (24643 条记录)
✅ 已保存: Venus_vacant.parcel (7404 条记录)
✅ 已保存: Rockwall_vacant.parcel (16684 条记录)
✅ 已保存: Quinlan_vacant.parcel (1509 条记录)
✅ 已保存: Hurst_vacant.parcel (4054 条记录)
✅ 已保存: Fairview_vacant.parcel (4925 条记录)
✅ 已保存: Annetta South_vacant.parcel (369 条记录)
✅ 已保存: Argyle_vacant.parcel (3967 条记录)
✅ 已保存: Cross Roads_vacant.parcel (1839 条记录)
✅ 已保存: McLendon-Chisholm_vacant.parcel (1953 条记录)
✅ 已保存: Joshua_vacant.parcel (3277 条记录)
✅ 已保存: Parker_vacant.parcel (1947 条记录)
✅ 已保存: Forest Hill_vacant.parcel (2857 条记录)
✅ 已保存: Mansfield_vacant.parcel (40906 条记录)
✅ 已保存: Lavon_vacant.parcel (4259 条记录)
✅ 已保存: Lewisville_vacant.parcel (24467 条记录)
✅ 已保存: Benbrook_vacant.parcel (3622 条记录)
✅ 已保存: Euless_vacant.parcel (11047 条记录)
✅ 已保存: Hackberry_vacant.parcel (202 条记录)
✅ 已保存: Weston_vacant.parcel (1191 条记录)
✅ 已保存: Godley_vacant.parcel (1690 条记录)
✅ 已保存: Seagoville_vacant.parcel (5560 条记录)
✅ 已保存: Cross Timber_vacant.parcel (195 条记录)
✅ 已保存: Newark_vacant.parcel (411 条记录)
✅ 已保存: Lucas_vacant.parcel (2899 条记录)
✅ 已保存: Crandall_vacant.parcel (7174 条记录)
✅ 已保存: Ennis_vacant.parcel (18141 条记录)
✅ 已保存: Everman_vacant.parcel (780 条记录)
✅ 已保存: Trophy Club_vacant.parcel (2208 条记录)
✅ 已保存: GlenRose_vacant.parcel (4571 条记录)
✅ 已保存: Combine_vacant.parcel (1406 条记录)
✅ 已保存: Sunnyvale_vacant.parcel (5789 条记录)

In [ ]:
import os
import geopandas as gpd
import pandas as pd

# 设置路径
input_folder = "/Users/houpuli/Redlining Lab Dropbox/HOUPU LI/ceshi/vacant_parcel_output"

# 储存城市名与parcel数量
city_list = []
parcel_count_list = []

# 遍历所有.parcel文件
for filename in os.listdir(input_folder):
    if filename.endswith(".parcel"):
        city_name = filename.replace("_vacant.parcel", "")
        file_path = os.path.join(input_folder, filename)
        
        try:
            gdf = gpd.read_file(file_path)
            unique_count = len(gdf['parcel_id'].unique())
        except Exception as e:
            print(f"❌ Error reading {filename}: {e}")
            unique_count = None
        
        city_list.append(city_name)
        parcel_count_list.append(unique_count)

# 创建 DataFrame
result_df = pd.DataFrame({
    "city": city_list,
    "vacant_parcel_count": parcel_count_list
})

# 导出为 Excel 文件
output_excel_path = "/Users/houpuli/Redlining Lab Dropbox/HOUPU LI/ceshi/vacant_parcel_count_summary.xlsx"
result_df.to_excel(output_excel_path, index=False)

print("✅ Excel 导出完成：", output_excel_path)

✅ Excel 导出完成： /Users/houpuli/Redlining Lab Dropbox/HOUPU LI/ceshi/vacant_parcel_count_summary.xlsx

In [9]:
total_file = pd.read_excel(r'/Users/houpuli/Redlining Lab Dropbox/HOUPU LI/ceshi/parcel_count_summary.xlsx')
total_file['city'] = total_file['city'].str.replace('.parcel', '', regex=False)
total_file

                 city  total_parcel_count
0    White Settlement              6149.0
1                Boyd               787.0
2            Maypearl               424.0
3              Alvord               771.0
4           Northlake              4813.0
..                ...                 ...
157           Everman              2111.0
158       Trophy Club              4827.0
159          GlenRose              1805.0
160           Combine              1090.0
161         Sunnyvale              3749.0

[162 rows x 2 columns]

In [5]:
vacant_file = pd.read_excel(r'/Users/houpuli/Redlining Lab Dropbox/HOUPU LI/ceshi/vacant_parcel_count_summary.xlsx', header=1)
vacant_file

    Status  Action                 city       vacant_parcel_count
0        ✅   Saved          Cross Roads                       301
1        ✅   Saved             McKinney                      9593
2        ✅   Saved          Pilot Point                      1034
3        ✅   Saved        Hickory Creek                       508
4        ✅   Saved              Garland                      1841
..     ...     ...                  ...                       ...
157      ✅   Saved           Lewisville                      4324
158      ✅   Saved            Hackberry                        39
159      ✅   Saved           Fort Worth                     37552
160      ❌  Error         Dublin.parcel  the parcel file is empty
161      ❌  Error   Stephenville.parcel  the parcel file is empty

[162 rows x 4 columns]

In [10]:
vacant_file = vacant_file.merge(total_file, on='city', how='left')
vacant_file

,Status,Action,city,vacant_parcel_count,total_parcel_count
0,✅,Saved,Cross Roads,301,1145.0
1,✅,Saved,McKinney,9593,66680.0
2,✅,Saved,Pilot Point,1034,2882.0
3,✅,Saved,Hickory Creek,508,2590.0
4,✅,Saved,Garland,1841,47708.0
...,...,...,...,...,...
157,✅,Saved,Lewisville,4324,29162.0
158,✅,Saved,Hackberry,39,268.0
159,✅,Saved,Fort Worth,37552,304119.0
160,❌,Error,Dublin.parcel,the parcel file is empty,NaN
161,❌,Error,Stephenville.parcel,the parcel file is empty,NaN

In [12]:
vacant_file['vacant_perc'] = vacant_file['vacant_parcel_count'] / vacant_file['total_parcel_count'] 
vacant_file

,Status,Action,city,vacant_parcel_count,total_parcel_count,vacant_perc
0,✅,Saved,Cross Roads,301,1145.0,0.262882
1,✅,Saved,McKinney,9593,66680.0,0.143866
2,✅,Saved,Pilot Point,1034,2882.0,0.358779
3,✅,Saved,Hickory Creek,508,2590.0,0.196139
4,✅,Saved,Garland,1841,47708.0,0.038589
...,...,...,...,...,...,...
157,✅,Saved,Lewisville,4324,29162.0,0.148275
158,✅,Saved,Hackberry,39,268.0,0.145522
159,✅,Saved,Fort Worth,37552,304119.0,0.123478
160,❌,Error,Dublin.parcel,the parcel file is empty,NaN,NaN
161,❌,Error,Stephenville.parcel,the parcel file is empty,NaN,NaN

In [13]:
output_excel_path = "/Users/houpuli/Redlining Lab Dropbox/HOUPU LI/ceshi/vacant_parcel_count_summary.xlsx"
vacant_file.to_excel(output_excel_path, index=False)

In [12]:
ceshi1 = gpd.read_file(r'/Users/houpuli/Redlining Lab Dropbox/HOUPU LI/ceshi/vacant_parcel_output/Fort Worth_vacant.parcel')
ceshi1

,parcel_id,side,lot_width,lot_depth,lot_area,geometry
0,Denton_County_combined_parcel_102395,front,NaN,NaN,NaN,"LINESTRING (-97.27045 33.01500, -97.27045 33.0..."
1,Denton_County_combined_parcel_102395,interior side,NaN,NaN,NaN,"LINESTRING (-97.27045 33.01512, -97.27012 33.0..."
2,Denton_County_combined_parcel_102395,interior side,NaN,NaN,NaN,"LINESTRING (-97.27012 33.01499, -97.27045 33.0..."
3,Denton_County_combined_parcel_102395,rear,NaN,NaN,NaN,"LINESTRING (-97.27012 33.01511, -97.27012 33.0..."
4,Denton_County_combined_parcel_102395,centroid,43.565136,100.226010,0.100217,POINT (-97.27028 33.01506)
...,...,...,...,...,...,...
219523,Tarrant_County_combined_parcel_684170,interior side,NaN,NaN,NaN,"LINESTRING (-97.39793 32.67278, -97.39838 32.6..."
219524,Tarrant_County_combined_parcel_684170,rear,NaN,NaN,NaN,"LINESTRING (-97.39838 32.67282, -97.39838 32.6..."
219525,Tarrant_County_combined_parcel_684170,interior side,NaN,NaN,NaN,"LINESTRING (-97.39838 32.67298, -97.39792 32.6..."
219526,Tarrant_County_combined_parcel_684170,front,NaN,NaN,NaN,"LINESTRING (-97.39792 32.67293, -97.39793 32.6..."
219527,Tarrant_County_combined_parcel_684170,centroid,59.117683,142.901227,0.178277,POINT (-97.39816 32.67288)

In [13]:
len(ceshi1['parcel_id'].unique())

37552

In [4]:
ceshi1 = gpd.read_file(r'/Users/houpuli/Redlining Lab Dropbox/HOUPU LI/ceshi/vacant_parcel_output/Dallas_vacant.parcel')
ceshi1

,parcel_id,side,lot_width,lot_depth,lot_area,geometry
0,Collin_County_combined_parcel_100650,unknown,NaN,NaN,NaN,"LINESTRING (-96.84163 32.99680, -96.84161 32.9..."
1,Collin_County_combined_parcel_100650,unknown,NaN,NaN,NaN,"LINESTRING (-96.84163 32.99679, -96.84163 32.9..."
2,Collin_County_combined_parcel_100650,unknown,NaN,NaN,NaN,"LINESTRING (-96.84161 32.99674, -96.84171 32.9..."
3,Collin_County_combined_parcel_100650,unknown,NaN,NaN,NaN,"LINESTRING (-96.84161 32.99680, -96.84161 32.9..."
4,Collin_County_combined_parcel_100650,unknown,NaN,NaN,NaN,"LINESTRING (-96.84180 32.99673, -96.84180 32.9..."
...,...,...,...,...,...,...
260314,Rockwall_County_combined_parcel_47990,unknown,NaN,NaN,NaN,"LINESTRING (-96.48080 32.89101, -96.48157 32.8..."
260315,Rockwall_County_combined_parcel_47990,unknown,NaN,NaN,NaN,"LINESTRING (-96.48157 32.89091, -96.48165 32.8..."
260316,Rockwall_County_combined_parcel_47990,unknown,NaN,NaN,NaN,"LINESTRING (-96.48170 32.89127, -96.48129 32.8..."
260317,Rockwall_County_combined_parcel_47990,unknown,NaN,NaN,NaN,"LINESTRING (-96.48166 32.89088, -96.48166 32.8..."
260318,Rockwall_County_combined_parcel_47990,centroid,1.0,1.0,1.782414,POINT (-96.48098 32.89125)

In [ ]:
tidyparcel_feeds = gpd.read_file(r"/Users/houpuli/Dropbox/ceshi/tidyparcel_feeds.geojson")
# 1. Filter out the centroid rows
lines = tidyparcel_feeds[tidyparcel_feeds['side'] != 'centroid']

# 2. Define a helper to turn a group of lines into a (multi)polygon
def lines_to_polygon(geom_series):
    merged = unary_union(geom_series)
    polys = list(polygonize(merged))
    if len(polys) == 1:
        return polys[0]
    else:
        return MultiPolygon(polys)

# 3. Apply per parcel_id
records = []
for pid, grp in lines.groupby('parcel_id'):
    poly = lines_to_polygon(grp.geometry)
    records.append({'parcel_id': pid, 'geometry': poly})

# 4. Build the new GeoDataFrame
tidyparcel_poly = gpd.GeoDataFrame(records,
                                   crs=tidyparcel_feeds.crs,
                                   geometry='geometry')
tidyparcel_poly

,parcel_id,geometry
0,Collin_County_combined_parcel_1,"POLYGON ((-96.53485 33.19556, -96.53499 33.195..."
1,Collin_County_combined_parcel_10,"POLYGON ((-96.79240 33.18075, -96.79260 33.180..."
2,Collin_County_combined_parcel_1000,"POLYGON ((-96.72820 33.07760, -96.72776 33.077..."
3,Collin_County_combined_parcel_10000,"POLYGON ((-96.73106 33.18067, -96.73106 33.180..."
4,Collin_County_combined_parcel_100000,"POLYGON ((-96.79686 33.00334, -96.79692 33.003..."
...,...,...
1953246,Wise_County_combined_parcel_995,"POLYGON ((-97.46807 33.05315, -97.46807 33.053..."
1953247,Wise_County_combined_parcel_996,"POLYGON ((-97.46807 33.05315, -97.46771 33.053..."
1953248,Wise_County_combined_parcel_997,"POLYGON ((-97.46815 33.05298, -97.46814 33.052..."
1953249,Wise_County_combined_parcel_998,"POLYGON ((-97.46796 33.05267, -97.46834 33.052..."
1953250,Wise_County_combined_parcel_999,"POLYGON ((-97.46834 33.05266, -97.46862 33.052..."

In [ ]:
building_overture = gpd.read_file(r"/Users/houpuli/Dropbox/ceshi/building_overture/OneDrive_1_5-5-2025.zip")
building_overture['centrid'] = building_overture['geometry'].centroid
building_overture = gpd.GeoDataFrame(building_overture, geometry='centrid')
building_overture

/var/folders/s5/1g0kvw1x37z1n8xgxcp8f3lh0000gn/T/ipykernel_1639/1883831375.py:1: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

  building_overture['centrid'] = building_overture['geometry'].centroid

,id,names,version,height,num_floors,is_undergr,num_floo_1,roof_shape,roof_direc,roof_orien,class,subtype,sources,bbox,geometry,centrid
0,08b26dda26052fff0200252f7d13a3a1,NaN,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{""property"":"""",""dataset"":""Microsoft ML Buildi...","{""xmin"":-98.57355499267578,""xmax"":-98.57342529...","POLYGON ((-98.57354 33.75800, -98.57354 33.758...",POINT (-98.57349 33.75806)
1,08b26dda26053fff0200824eea447a43,NaN,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{""property"":"""",""dataset"":""Microsoft ML Buildi...","{""xmin"":-98.57342529296875,""xmax"":-98.57331848...","POLYGON ((-98.57332 33.75787, -98.57342 33.757...",POINT (-98.57337 33.75792)
2,08b26dda26008fff0200b1781a575e62,NaN,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{""property"":"""",""dataset"":""Microsoft ML Buildi...","{""xmin"":-98.573974609375,""xmax"":-98.5738525390...","POLYGON ((-98.57396 33.75946, -98.57395 33.759...",POINT (-98.57391 33.75949)
3,08b26dda2600cfff02001989ef62597e,NaN,0,3.242130,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{""property"":"""",""dataset"":""Microsoft ML Buildi...","{""xmin"":-98.573974609375,""xmax"":-98.5738525390...","POLYGON ((-98.57385 33.75957, -98.57396 33.759...",POINT (-98.57391 33.75964)
4,08b26dda2689afff02005f792d56e146,NaN,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{""property"":"""",""dataset"":""Microsoft ML Buildi...","{""xmin"":-98.57506561279297,""xmax"":-98.57484436...","POLYGON ((-98.57489 33.76548, -98.57499 33.765...",POINT (-98.57495 33.76555)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3507593,08b26cd4848c4fff02005e8a00423ef6,NaN,0,2.991583,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{""property"":"""",""dataset"":""Microsoft ML Buildi...","{""xmin"":-96.18679809570313,""xmax"":-96.18667602...","POLYGON ((-96.18680 33.71890, -96.18668 33.718...",POINT (-96.18674 33.71887)
3507594,08b26cd4848f1fff0200a641cf1678e7,NaN,0,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{""property"":"""",""dataset"":""Microsoft ML Buildi...","{""xmin"":-96.1871109008789,""xmax"":-96.187042236...","POLYGON ((-96.18708 33.71916, -96.18710 33.719...",POINT (-96.18708 33.71919)
3507595,08b26cd4848f1fff02007ee37c618b84,NaN,0,2.817342,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{""property"":"""",""dataset"":""Microsoft ML Buildi...","{""xmin"":-96.18690490722656,""xmax"":-96.18675231...","POLYGON ((-96.18676 33.71926, -96.18676 33.719...",POINT (-96.18682 33.71921)
3507596,08b26cd4848f0fff0200786ef731adeb,NaN,0,4.370954,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{""property"":"""",""dataset"":""Microsoft ML Buildi...","{""xmin"":-96.1874008178711,""xmax"":-96.187278747...","POLYGON ((-96.18728 33.71959, -96.18728 33.719...",POINT (-96.18733 33.71954)
3507597,08b26cd4848f5fff020065d4e8a32c62,NaN,0,4.378795,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,"[{""property"":"""",""dataset"":""Microsoft ML Buildi...","{""xmin"":-96.18710327148438,""xmax"":-96.18695068...","POLYGON ((-96.18706 33.71957, -96.18709 33.719...",POINT (-96.18702 33.71951)

In [20]:
# 1) join without indicator
joined = gpd.sjoin(tidyparcel_poly, building_overture, how='left',predicate='intersects')
joined['_merge'] = np.where(joined['index_right'].isna(),'left_only','both')
tidyparcel_poly_no_point = joined[joined['_merge'] == 'left_only']
tidyparcel_poly_no_point

,parcel_id,geometry_left,index_right,id,names,version,height,num_floors,is_undergr,num_floo_1,roof_shape,roof_direc,roof_orien,class,subtype,sources,bbox,geometry_right,_merge
27,Collin_County_combined_parcel_100027,"POLYGON ((-96.81967 33.17864, -96.81968 33.178...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,left_only
34,Collin_County_combined_parcel_100035,"POLYGON ((-96.61108 33.24262, -96.61109 33.242...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,left_only
41,Collin_County_combined_parcel_100041,"POLYGON ((-96.66278 33.18031, -96.66278 33.180...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,left_only
48,Collin_County_combined_parcel_100050,"POLYGON ((-96.55438 33.01101, -96.55446 33.011...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,left_only
50,Collin_County_combined_parcel_100053,"POLYGON ((-96.67211 33.18288, -96.67201 33.183...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,left_only
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1953154,Wise_County_combined_parcel_9382,"POLYGON ((-97.68634 33.14858, -97.68635 33.148...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,left_only
1953156,Wise_County_combined_parcel_9384,"POLYGON ((-97.68592 33.14930, -97.68592 33.149...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,left_only
1953180,Wise_County_combined_parcel_9512,"POLYGON ((-97.57984 33.23131, -97.58017 33.231...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,left_only
1953185,Wise_County_combined_parcel_9556,"POLYGON ((-97.54602 33.07973, -97.54645 33.079...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,left_only
1953200,Wise_County_combined_parcel_9600,"POLYGON ((-97.55766 33.07608, -97.55764 33.077...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,left_only

In [ ]:

vacant_id

array(['Collin_County_combined_parcel_100027',
       'Collin_County_combined_parcel_100035',
       'Collin_County_combined_parcel_100041', ...,
       'Wise_County_combined_parcel_9512',
       'Wise_County_combined_parcel_9556',
       'Wise_County_combined_parcel_9600'], dtype=object)

In [ ]:

tidyparcel_van_occ

                                     parcel_id
4              Collin_County_combined_parcel_1
9             Collin_County_combined_parcel_10
14          Collin_County_combined_parcel_1000
19         Collin_County_combined_parcel_10000
24        Collin_County_combined_parcel_100000
...                                        ...
10541993       Wise_County_combined_parcel_995
10541998       Wise_County_combined_parcel_996
10542004       Wise_County_combined_parcel_997
10542009       Wise_County_combined_parcel_998
10542015       Wise_County_combined_parcel_999

[1953251 rows x 1 columns]

In [ ]:
vacant_id = tidyparcel_poly_no_point['parcel_id'].unique()
tidyparcel_van_occ = tidyparcel_feeds[tidyparcel_feeds['side'] == 'centroid'][['parcel_id']]

tidyparcel_van_occ['parcel status'] = np.where(
    tidyparcel_van_occ['parcel_id'].isin(vacant_id),
    'vacant_parcel',
    'occupied_parcel'
)

tidyparcel_feeds_land_use = pd.read_csv(r"/Users/houpuli/Dropbox/ceshi/tidyparcel_feeds_land_use.csv")

tidyparcel_attribute = pd.merge(
    tidyparcel_feeds_land_use,
    tidyparcel_van_occ,
    how='left',
    left_on='parcel_id',
    right_on='parcel_id'
)

tidyparcel_attribute.loc[tidyparcel_attribute['confidence'] == 'confidence_parcel', 'confidence'] = True
tidyparcel_attribute.loc[tidyparcel_attribute['confidence'] == 'non_confidence_parcel', 'confidence'] = False

tidyparcel_attribute

,parcel_id,landuse,landuse_spec,confidence,parcel status
0,Collin_County_combined_parcel_1,R,A1,True,occupied_parcel
1,Collin_County_combined_parcel_10,R,A1,True,occupied_parcel
2,Collin_County_combined_parcel_1000,R,A1,True,occupied_parcel
3,Collin_County_combined_parcel_10000,R,A1,True,occupied_parcel
4,Collin_County_combined_parcel_100000,R,A1,True,occupied_parcel
...,...,...,...,...,...
1953246,Wise_County_combined_parcel_995,NaN,NaN,False,occupied_parcel
1953247,Wise_County_combined_parcel_996,NaN,NaN,False,occupied_parcel
1953248,Wise_County_combined_parcel_997,NaN,NaN,False,occupied_parcel
1953249,Wise_County_combined_parcel_998,NaN,NaN,False,occupied_parcel
1953250,Wise_County_combined_parcel_999,NaN,NaN,False,occupied_parcel